*{
   margin: 0;
   padding: 0
}
body {
   background-color: #000;
   /* scroll-behavior: smooth; */
   z-index: -4;
}
.h1{
   color: #000;
}
.zindex{
   z-index: 4;
}
span{
   color: #fff;
   z-index: 3;
}
.container{
   position: relative; 
   /* overflow-y: scroll; */
}
.backgroundImage{
   height: 724px;
}
.NavBar{
   display: flex;
   justify-content: space-between;
   padding: 30px;
   margin-right: 50px;
   /* position:absolute; */
   /* position: relative; */
}
.icon{
   cursor: pointer;
   color: #fff;
   margin-left: 10px
}
.icon :hover{
   cursor: pointer;
   color: aqua;
}
.socialIconsWrapper{
   margin-left: 10%;
   /* display: none; */
}
.headerSection{
   display: flex;
   /* position: absolute; */
   /* z-index: 5; */
   justify-content: center;
   align-items: center;
   color: #0101;
   flex-direction: column;
   margin-top: 40px;
}
.styledHeaderText{
   font-size: 70px;
   font-weight: 900;
   font-style: italic;
   /* z-index: 3; */
   color: #fff;
   z-index: 3;
   letter-spacing: 2.5px;
   font-family: 'Source Sans Pro', sans-serif;
}

.headerTextTitle{
   font-size: 70px;
   font-weight: bold;
   color: #fff;
   z-index: 3;
   font-family: 'Sen', sans-serif;
   margin-top: 20px;
}
.headerTextSubTitle{
   font-size: 27px;
    color: #fff;
   color: #fff;
   z-index: 3;
   letter-spacing: 0.9px;
   margin-top: 30px;
   font-family: 'Sen', sans-serif;
}
.headerTextSubTitle span {
   font-weight: bold;
   /* letter-spacing: 0px */
}

.aboutsection{
   position: relative;
   top:130px;
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;

}
.aboutText{
   color: #fff;
   font-size: 70px;
   font-weight: 900;
   font-style: italic;
   /* z-index: 3; */
   z-index: 3;
   letter-spacing: 2.5px;
   font-family: 'Source Sans Pro', sans-serif;
}
.youtubeSection{
   position: relative;
   margin-top: 20px;
   -webkit-box-shadow: 5px 5px 23px 9px rgba(255,128,246,0.65), -8px 19px 29px 16px rgba(141,83,169,0.25); 
box-shadow: 5px 5px 23px 9px rgba(255,128,246,0.65), -8px 19px 29px 16px rgba(141,83,169,0.25);
border-radius: 3px;
margin-top: 50px;
width: 716px;
height: 433px;
}
.player-wrapper {
   position: relative;
   padding-top: 56.25%; 
   /* Player ratio: 100 / (1280 / 720) */
   width: 100%;
   height: 100%;
 }
 
 .react-player {
   position: absolute;
   width: 100%;
   height: 100%;

 }
 .footerIcons{
    margin-top: 100px;
    font-size: 30px;
    /* margin-left: 10px; */
 }
 .empty{
    margin-bottom: 30px;
 }

 @media only screen and (max-width: 1080px) {
    .styledHeaderText{
       font-size: 50px;
    }
    .headerTextTitle{
       font-size: 50px;
    }
    .headerTextSubTitle{
       font-size: 25px;
    }
    .aboutText{
       font-size: 50px;
       margin-top: 60px;
    }
    .youtubeSection{
       margin-top: 100px;
    }
 }

 @media only screen and (max-width: 768px){
    .backgroundImage{
       height: 540px;
    }
   .styledHeaderText{
      font-size: 40px;
   }
   .headerTextTitle{
      font-size: 40px;
   }
   .headerTextSubTitle{
      font-size: 20px;
   }
   .aboutText{
      font-size: 40px;
      margin-top: 10px;
   }
   .youtubeSection{
      margin-top: 100px;
      height: 300px;
      width: 500px;
   }
 }

 @media only screen and (max-width: 616px){
   .backgroundImage{
      height: 540px;
   }
  .styledHeaderText{
     font-size: 30px;
  }
  .headerTextTitle{
     font-size: 30px;
  }
  .headerTextSubTitle{
     font-size: 15px;
  }
  .aboutText{
     font-size: 30px;
     margin-top: 10px;
  }
  .youtubeSection{
     margin-top: 100px;
     height: 250px;
     width: 400px;
  }
 } 

 @media only screen and (max-width: 462px){
   .backgroundImage{
      height: 500px;
   }
  .styledHeaderText{
     font-size: 28px;
  }
  .headerTextTitle{
     font-size: 28px;
  }
  .headerTextSubTitle{
     font-size: 13px;
  }
  .aboutText{
     font-size: 30px;
     margin-top: 10px;
  }
  .youtubeSection{
     margin-top: 100px;
     height: 200px;
     width: 350px;
  }
 }

 /* @media only screen and (max-width: 390px){
   .backgroundImage{
      height: 500px;
   }
   .socialIconsWrapper{
     display: none;
   }
  .styledHeaderText{
     font-size: 10px;
  }
  .headerTextTitle{
     font-size: 20px;
  }
  .headerTextSubTitle{
     font-size: 10px;
  }
  .aboutText{
     font-size: 20px;
     margin-top: 10px;
  }
  .youtubeSection{
     margin-top: 50px;
     height: 170px;
     width: 300px;
  }
 } */